<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lovejoy777.showcase" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.Toolbar" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Toolbar2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Screen1Free"
            android:label="@string/free"
            android:theme="@style/Toolbar2" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN1FREE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Screen1Paid"
            android:label="@string/paid"
            android:theme="@style/Toolbar2" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN1PAID" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Screen1NonPS"
            android:label="@string/nonps"
            android:theme="@style/Toolbar2" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN1NONPS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Details"
            android:label="@string/details"
            android:theme="@style/Theme.Toolbar">
            <intent-filter>
                <action android:name="android.intent.action.INFOFREE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
